@charset "utf-8";

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.Nav-Bar{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}
.Contenedor_Logo{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Logo{
    width: 4%;
    margin-right: 4%;
}
.Logo_Nombre{
    font-size: 171%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.Contenedor_botones{
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.Boton{
    text-decoration: none;
    color: #000000;
    font-size: 171%;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.Boton:hover{
    background: #b3c6ff;
}
.Contenedor_Contenido{
	width: 95%;
	height: 90vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.Opcion{
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 4vh;
	padding-bottom: 4vh;
	border-radius: 1%;
}
.Textos{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 130%;
}
.Link{
	text-decoration: none;
	color: #000000;
}
.Centrar{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}