@charset "utf-8";

body{
    width: 100%;
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.Nav-Bar{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}
.Contenedor_Logo{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Logo{
    width: 4%;
    margin-right: 4%;
}
.Logo_Nombre{
    font-size: 171%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.Contenedor_botones{
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.Boton{
    text-decoration: none;
    color: #000000;
    font-size: 171%;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.Boton:hover{
    background: #c266ff;
}
.svg{
	width: 100%;
	position: absolute;
	z-index: -1;
	margin-top: -2%;
	margin-left: -2%;
}
.Figura{
	fill: #c266ff;
}
.Contenedor_Cabecera{
	width: 85%;
	height: 90vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.Descripcion{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.Titulo{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: xx-large;
}
.Texto{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: justify;	
}
.Contenedor_Contenido{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.Titulo_2{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: x-large;
}
.frame{
	width: 80%;
	height: 80vh;
}
.link{
	text-decoration: none;
	color:#c266ff;
}
.link:hover{
	background: #c266ff;
	color: #000000;
}