@charset "utf-8";
body{
    background-color: #000000AD;
    overflow: hidden;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: MoverIzquierda;
}
.Barra_de_Navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    color: #E2E2E2;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 133%;
}
.Menu{
    display: flex;
    justify-content: space-between;
    margin-right: 6%;
    width: 23%;
}
.Titulo{
    margin-left: 5%;
}
.Botones{
    color: #E2E2E2;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
}
.Botones:hover{
    background-color: #E2E2E2;
    color: #000000;
}
.Contenedor_imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Imagen_entrada{
    border: 0;
    width: 77%;
}

@keyframes MoverIzquierda {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}



